@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease;
}

body.loaded {
  background-color: #071018;
}

.text-shadow-header {
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-delayed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-appear-delayed {
  animation: appear-delayed 6s ease-out forwards;
  transition: 2s;
  animation-delay: 0s;
}

@keyframes slide-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


.animate-appear {
  animation: appear 2s ease-out forwards;
}

.animate-appear-2 {
  animation: appear 5s ease-out forwards;
  animation-delay: 20s;
}

.animate-slide-in-from-left {
  animation: slide-from-left 0.7s ease-out forwards;
}

@keyframes slide-from-right {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-from-right {
  animation: slide-from-right 3s ease-out forwards;
}

.bottombar {
  background-color: white;
  transition: background-color 0.5s ease;
}

body.loaded .bottombar {
  background-color: #071018;
}

.linea-blanca-horizontal {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 20px;
}

.linea-blanca-vertical {
  width: 2px;
  height: 100%;
  background-color: white;
  margin-left: 20px;
}

.background-1 {
  background:
    -webkit-linear-gradient(rgba(7, 16, 24, 1));
}

.background-2 {
  background:
    -webkit-linear-gradient(rgba(255, 255, 255, 1));
}
